<form>
  <div class="form-group">
    <label for="CommentText">Your comment</label>
    <textarea class="form-control" id="CommentText" name="text" rows="3"></textarea>
  </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Comment</button>
                  <button type="button" class="btn btn-sm btn-outline-error">Cancel</button>
      </div>
    </div>
    {{photo_id}} {{user}}
</form>